*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 .container{
     max-width: 1368px;
     padding: 0px 50px;
     margin: 0 auto;
     height: 100%;
 }
/* ---- header css satrt ----- */
header{
    background-color: #87565B;
    margin: 0 auto;
    padding: 0;
}
header .header_content {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px;
}
header .header_content img{
    text-align: start;
}
header .header_content .menu{
    text-align: center;
}
header .header_content ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}
header .header_content ul li:last-child{
    margin-right: 0px;
}
header .header_content a{
    text-decoration: none;
    color: #fff;
}
header .header_content .icon{
    text-align: right;
}
header .header_content .icon i{
    color: #fff;
}
header .header_content .icon .fa-user{
    padding: 5px;
}
header .header_content .icon input {
    width: 75px;
    padding: 5px 0px 5px 30px;
    background-color:  #AB898D;
    border: none;
}
/* header .header_content .icon input{
    background-color:  #AB898D;
 } */
 header .header_content .icon{
    position: relative;
}
header .header_content .search {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 12px;
}
header .header_content .icon input::placeholder{
    color: #ffffff;
}
header .header_content .icon input:focus{
    outline: none;
}
/* ---- header css end ----- */
 /* food iteam section css start*/
 .food_iteam_section{
    margin-top: 20px;
    margin-bottom: 50px;
 }
 .food_iteam_section .iteam a{
    text-decoration: none;
    color: #333333;
 }
 .food_iteam_section .iteam span{
    margin:  0px 10px;
 }
 /* food iteam section css end*/
 /* ---- food_blog_section css start ---- */
.food_blog_section{
    margin-top: 150px;
    background-color: #F5F1EB;
    padding: 100px 0px;
}
.food_blog_section .food_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}
.food_blog_section .food_title h3{
    font-size: 40px;
    color: #87565B;
}
/* .food_blog_section .food_title button{
    border: none;
} */
.food_blog_section .food_title a{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
    padding: 5px;
    border-bottom: 3px solid #87565B;
   
}
.food_blog_section .food_title a::before{
    content: '';
    
}
.food_blog_section .food_iteam{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.food_blog_section .food_iteam .iteam img{
    width: 100%;
    display: block;
}
.food_blog_section .food_iteam .iteam .desc{
    position: relative;

}
.food_blog_section .food_iteam .iteam .desc .text {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(20%, -50%);
    color: #fff;
}
.food_blog_section .food_iteam .iteam .desc .text h3{
    /* padding-bottom: 8px; */
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
}
.food_blog_section .food_iteam .iteam .desc .text p{
    padding-top: 10px;
}
/* ---- food_blog_section css end ---- */
/* ---- top_image_section css start----- */
.top_image_section {
    margin: 100px 0px;
}
.top_image_section .image{
    padding-right: 50px;
}
.top_image_section .image img {
    width: 100%;
    padding-left: 100px;
    padding-right: 55px;
}
/* ---- top_image_section css end----- */
/* ---- eltefritt_urbrød css start ---- */
.eltefritt_urbrød {
    background-image: url(../images/Group\ 927.png);
    background-repeat: no-repeat;
    background-position: 30px 0; 


}
.eltefritt_urbrød .main_column{
    display: flex;
    padding: 0px 100px;
    gap: 50px;
}
.eltefritt_urbrød .main_column .left_column{
    width: 40%;
}
.eltefritt_urbrød .main_column .right_column{
    width: 60%;
}
.eltefritt_urbrød .main_column .right_column .text p{
    font-size: 23px;
    color: #333333;
}
.eltefritt_urbrød .main_column .left_column h6{
    font-size: 32px;
    color: #333333;
} 
.eltefritt_urbrød .main_column .left_column h3{
    font-size: 56px;
    color: #87565B;
    padding-top: 10px;
    padding-bottom: 20px;
}
.eltefritt_urbrød .main_column .left_column span {
    margin-right: 20px;
    border: 1px solid #9D9F99;
    border-radius: 5px;
    padding: 15px 20px;
}
.eltefritt_urbrød .main_column .left_column a {
    text-decoration: none;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #9D9F99;
    border-radius: 5px;
    padding: 15px 20px;
}
.eltefritt_urbrød .main_column .left_column .ingredienser h6{
    font-size: 24px;
    color: #87565B;
    padding-top: 50px;
}
.eltefritt_urbrød .main_column .left_column .ingredienser p{
    font-size: 17px;
    color: #333333;
    padding-top: 10px;
}
.eltefritt_urbrød .main_column .right_column .slik_gjør_du{
    padding: 50px 0px;
}
.eltefritt_urbrød .main_column .right_column .slik_gjør_du h6{
    font-size: 24px;
    color: #87565B;
}
.eltefritt_urbrød .main_column .right_column .slik_gjør_du .text{
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.eltefritt_urbrød .main_column .right_column .slik_gjør_du .text p{
    font-size: 17px;
    color: #333333;
}
.eltefritt_urbrød .main_column .right_column .slik_gjør_du .image{
    padding-top: 50px;
    padding-bottom: 30px;
}
.eltefritt_urbrød .main_column .right_column .tips{
    padding: 20px;
    background-color: #F8F5EF;
}
.eltefritt_urbrød .main_column .right_column .tips h4{
    font-size: 24px;
    color: #87565B;
    padding-bottom: 20px;
}
.eltefritt_urbrød .main_column .right_column .tips .text{
    display: flex;
    gap: 20px;
}
.eltefritt_urbrød .main_column .right_column .tips .text p{
    font-size: 17px;
    color: #333333;
    padding-bottom: 20px;
}
/* ---- eltefritt_urbrød css end ---- */

/* ---- footer section css start ---- */
footer{
    background-image: url(../images/Group\ 25211.png);
    object-fit: cover;
    background-color: #F8F5EF;
 }
 footer .content{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
 }
 footer .content .location{
    color: #fff;
 }
 footer .content .location a{
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
 }
 footer .content .location2 a{
    text-decoration: none;
    color: #fff;
    display: block;
 }
 footer .logo_icon{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
 }
 footer .logo_icon i{
    font-size: 40px;
    color: #fff;
    margin-right: 20px;
 }

 footer .logo_icon .logo{
    display: flex;
    gap: 7px;
 }
 footer .logo .right_image img{
    width: 80%;
 }

.footer_bottom{
    background-color: #333333;
}
.footer_bottom .iteam{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}
.footer_bottom .iteam a{
    /* text-decoration: none; */
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-size: 17px;
}
.footer_bottom .logo img{
    margin-right: 10px;
}
.footer_bottom .top_icon{
    text-align: right;
    /* margin-top: 50%; */
}
.footer_bottom .top_icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #626262;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.footer_bottom .top_icon p{
    color: #fff;

}
/* ---- footer section css start ---- */
/* ---- navbar css start ---- */
nav{
    background-color: #333333;
}
nav .iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
nav .iteam .personvern a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
nav .iteam  .logo img{
    margin-right: 20px;
}
nav .iteam .laget a{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}
nav .iteam .top_icon{
    text-align: center;
    color: #ffffff;
}
nav .iteam .top_icon a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5C5C5C;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}
/* ---- navbar css end ---- */
