*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 .container{
     max-width: 1368px;
     padding: 0px 50px;
     margin: 0 auto;
     height: 100%;
 }
 /* ---- header css satrt ----- */
 header{
     background-color: #87565B;
     margin: 0 auto;
     padding: 0;
 }
 header .header_content {
     display: flex;
     /* grid-template-columns: 1fr 1fr 1fr; */
     justify-content: space-between;
     justify-items: center;
     align-items: center;
     padding: 5px;
 }
 header .header_content img{
     text-align: start;
 }
 header .header_content .menu{
     text-align: center;
 }
 header .header_content ul li{
     list-style: none;
     display: inline-block;
     margin-right: 20px;
     font-size: 18px;
 }
 header .header_content ul li:last-child{
     margin-right: 0px;
 }
 header .header_content a{
     text-decoration: none;
     color: #fff;
 }
 header .header_content .icon{
     text-align: right;
 }
 header .header_content .icon i{
     color: #fff;
 }
 header .header_content .icon .fa-user{
     padding: 5px;
 }
 header .header_content .icon input{
     width: 50px;
 }
 header .header_content .icon input:focus{
     outline: none;
 }
  /* ---- header css end ----- */
  /* ----- bake_section css start ---- */
.bake_section{
    margin: 50px 0px;
}
.bake_section .content{
    display: flex;
    justify-content: space-between;
}
.bake_section .content h5{
    font-size: 32px;
    color: #333333;
}
.bake_section .content h3{
    font-size: 56px;
    color: #87565B;
}
.bake_section .select {
    display: flex;
    justify-content: space-between;
    column-gap: 52px;
    align-items: end;
    
}
.bake_section .select select {
    padding: 5px 30px 5px 5px;
}
  /* ----- bake_section css end ---- */
  /* ---- food_blog_section css start ---- */

  .food_blog_section{
    margin: 150px 0px;
    /* background-color: #F5F1EB; */
    padding: 100px 0px;
}
.food_blog_section .food_iteam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 20px;
    align-items: center;
}
.food_blog_section .food_iteam .iteam img{
    width: 100%;
    display: block;
}
.food_blog_section .food_iteam .iteam .desc{
    position: relative;

}
.food_blog_section .food_iteam .iteam .desc .text {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(20%, -50%);
    color: #fff;
}
.food_blog_section .food_iteam .iteam .desc .text h3{
    padding-bottom: 8px;
    background-color: #33271F;
}
  /* ---- food_blog_section css end ---- */
  /* ---- footer section css start ---- */
.footer_section{
    margin: 150px 0px;
}
.footer_section .footer_top{
    background-color: #87565B;
}
.footer_section .footer_top .footer_top_image img{
    width: 100%;
    background-color: #87565B;
} 
.footer_section .footer_top .contect{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    /* text-align: center; */
    padding: 150px 0px;
}
.footer_section .footer_top .contect .info {
    color: #fff;
    padding-bottom: 150px;
}
.footer_section .footer_top .contect .info h3{
    font-size: 23px;
    padding-bottom: 15px;
}
.footer_section .footer_top .contect .info p{
    font-size: 17px;
}
.footer_section .footer_top .contect .logo_icon{
    text-align: right;
}
.footer_section .footer_top .contect .info .dia{
    width: 35%;
}
.footer_section .footer_top .contect .logo_icon .logo_right {
    padding-bottom: 220px;
}
.footer_section .footer_top .contect .logo_icon .logo_right img {
    width: 60%;
    /* padding-bottom: 10px; */
}
.footer_section .footer_top .contect .logo_icon .icon i{
        font-size: 35px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        /* border-radius: 50%; */
        background-color: #fff;
        text-align: center;
        color: #87565b;
        border-radius: 5px;
        margin-right: 10px;

}
.footer_section .footer_top .contect .logo_icon .icon i:last-child{
    margin-right: 0px;
}
.footer_section .footer_top .contect .logo_icon p{
    color: #fff;
}
.footer_section .footer_top .contect .logo img{
    /* width: 100%; */
}
.footer_bottom{
    background-color: #333333;
}
.footer_bottom .iteam{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}
.footer_bottom .iteam a{
    /* text-decoration: none; */
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-size: 17px;
}
.footer_bottom .logo img{
    margin-right: 10px;
}
.footer_bottom .top_icon{
    text-align: right;
    /* margin-top: 50%; */
}
.footer_bottom .top_icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #626262;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.footer_bottom .top_icon p{
    color: #fff;

}
/* ---- footer section css start ---- */

