*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 .container{
     max-width: 1368px;
     padding: 0px 50px;
     margin: 0 auto;
     height: 100%;
 }
 /* ---- header css satrt ----- */
 header{
     background-color: #87565B;
     margin: 0 auto;
     padding: 0;
 }
 header .header_content {
     display: flex;
     justify-content: space-between;
     justify-items: center;
     align-items: center;
     padding: 5px;
 }
 header .header_content img{
     text-align: start;
 }
 header .header_content .menu{
     text-align: center;
 }
 header .header_content ul li{
     list-style: none;
     display: inline-block;
     margin-right: 20px;
     font-size: 18px;
 }
 header .header_content ul li:last-child{
     margin-right: 0px;
 }
 header .header_content a{
     font-family: 'DIN';
     font-weight: 400;
     text-decoration: none;
     color: #fff;
 }
 header .header_content .icon{
     text-align: right;
 }
 header .header_content .icon i{
     color: #fff;
 }
 header .header_content .icon .fa-user{
     padding: 5px;
 }
 header .header_content .icon input {
     width: 75px;
     padding: 5px 0px 5px 30px;
     background-color:  #AB898D;
     border: none;
 }
  header .header_content .icon{
     position: relative;
 }
 header .header_content .search {
     position: absolute;
     top: 7px;
     left: 5px;
     font-size: 12px;
 }
 header .header_content .icon input::placeholder{
     color: #ffffff;
 }
 header .header_content .icon input:focus{
     outline: none;
 }
 /* ---- header css end ----- */
 /* ---- glemt_section css start ---- */
 .glemt_section .title{
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #F8F5EF;
    text-align: center;
 }
 .glemt_section .title h2{
    font-size: 56px;
    color: #87565B;
 }
 .glemt_section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    text-align: left;
}

.glemt_section .e_post {
    padding: 20px 0px;
    text-align: left;
}
 /* ---- glemt_section css end ---- */