*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 @font-face{
    font-family: 'DIN';
    src: url(../font/din-font/DIN.ttf),
        url(../font/din-font/DIN\ Bold.ttf);

        
}
 .container{
     max-width: 1368px;
     padding: 0px 50px;
     margin: 0 auto;
     height: 100%;
 }
 /* ---- header css satrt ----- */
 header{
     background-color: #87565B;
     margin: 0 auto;
     padding: 0;
 }
 header .header_content {
     display: flex;
     /* grid-template-columns: 1fr 1fr 1fr; */
     justify-content: space-between;
     justify-items: center;
     align-items: center;
     padding: 5px;
 }
 header .header_content img{
     text-align: start;
 }
 header .header_content .menu{
     text-align: center;
 }
 header .header_content ul li{
     list-style: none;
     display: inline-block;
     margin-right: 20px;
     font-size: 18px;
 }
 header .header_content ul li:last-child{
     margin-right: 0px;
 }
 header .header_content a{
     text-decoration: none;
     color: #fff;
     font-family: 'DIN';
     font-weight: normal;
 }
 header .header_content .icon{
     text-align: right;
 }
 header .header_content .icon i{
     color: #fff;
 }
 header .header_content .icon .fa-user{
     padding: 5px;
 }
 header .header_content .icon input {
     width: 75px;
     padding: 5px 0px 5px 30px;
     background-color:  #AB898D;
     border: none;
 }
 /* header .header_content .icon input{
     background-color:  #AB898D;
  } */
  header .header_content .icon{
     position: relative;
 }
 header .header_content .search {
     position: absolute;
     top: 7px;
     left: 5px;
     font-size: 12px;
 }
 header .header_content .icon input::placeholder{
     color: #ffffff;
 }
 header .header_content .icon input:focus{
     outline: none;
 }
 /* ---- header css end ----- */
 /* ---- payment_section css start ---- */
 .payment_section{
    margin: 150px 0px;
 }
 .payment_section .main_column{
    display: flex;
    justify-content: space-between;
 }
 .payment_section .main_column .left_column{
    width: 50%;
    padding-left: 70px;
 }
.payment_section .main_column .right_column{
    width: 50%;
    padding-right: 70px;
 }
.payment_section .main_column .right_column .main .product_itam{
    display: flex;
    justify-content: space-between;
    gap: 40px;
 }
 .payment_section .main_column .right_column .title{
    width: 100%;
    background-color: #F8F5EF;
    padding-bottom: 30px;
 }
 .payment_section .main_column .right_column .title h2{
    font-size: 32px;
    color: #87565B;
    padding: 20px 0px;
 }
 .payment_section .main_column .right_column .main{
    border-bottom: 1px solid #333333;
    padding: 20px 0px;
 }
 .payment_section .main_column .right_column .main .product_itam .image{
    width: 30%;
 }
 .payment_section .main_column .right_column .main .product_itam .image img{
    width: 100%;
 }
 .payment_section .main_column .right_column .main .product_itam .product{
    width: 70%;
    display: flex;
    justify-content: space-between;
 }
 .payment_section .main_column .right_column .main .product_itam .product .speltmel p{
    padding-top: 20px;
     padding-bottom: 50px;
 }
 .payment_section .main_column .right_column .main .product_itam .product .speltmel i {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
}
 .payment_section .main_column .right_column .main .product_itam .product .kr i{
    font-size: 23px;
    padding-bottom: 80px;
 }
 .payment_section .main_column .right_column .main .product_itam .product .kr h4{
    font-size: 17px;
 }
 .payment_section .main_column .right_column .main .product_itam .product .kr h3{
    color: #87565B;
 }
 .payment_section .main_column .right_column .main .product_itam .product .kr del{
    display: block;
 }
 .payment_section .main_column .right_column .rabattkode{
    border-bottom: 1px solid #333333;
 }
 .payment_section .main_column .right_column .rabattkode .code{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
 }
 .payment_section .main_column .right_column .rabattkode .code h3{
    font-size: 17px;
    color: #333333;
 }
 .payment_section .main_column .right_column .rabattkode .gavekort {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
 }
 .payment_section .main_column .right_column .rabattkode .bruk input {
    margin-right: 15px;
}
 .payment_section .main_column .right_column .rabattkode .bruk input:last-child{
    margin-right: 0px;
 }
 .payment_section .main_column .right_column .rabattkode .bruk #code{
    width: 85%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333333;
 }
 .payment_section .main_column .right_column .rabattkode .bruk .btn{
    padding: 15px;
    background-color: #87565B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
 }
 .payment_section .main_column .right_column .rabattkode .gavekort h3{
    font-size: 17px;
    color: #333333;
 }
 .payment_section .main_column .right_column .total_cost{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
 }
 .payment_section .main_column .right_column .total_cost p{
    font-size: 17px;
    padding-bottom: 10px;

 }
 .payment_section .main_column .right_column .total_cost .iteam_name p{
    color: #87565B;
 }
 .payment_section .main_column .right_column .total_cost span{
    display: block;
    padding-bottom: 10px;
    font-size: 17px;
 }
 .payment_section .main_column .right_column .cost p{
    padding-bottom: 10px;
 }
 .payment_section .main_column .right_column .payment_logo{
    text-align: end;
    padding-top: 40px;
 }
 /* ---- payment_section css end ---- */
 /* ---- footer section css start ---- */
footer{
    background-image: url(../images/Group\ 2520.jpg);
    object-fit: cover;
 }
 footer .content{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
 }
 footer .content .location{
    color: #fff;
 }
 footer .content .location a{
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
 }
 footer .content .location2 a{
    text-decoration: none;
    color: #fff;
    display: block;
 }
 footer .logo_icon{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
 }
 footer .logo_icon i{
    font-size: 40px;
    color: #fff;
    margin-right: 20px;
 }
 footer .logo_icon .logo{
    display: flex;
    gap: 7px;
 }
 footer .logo .right_image img{
    width: 80%;
 }

.footer_bottom{
    background-color: #333333;
}
.footer_bottom .iteam{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}
.footer_bottom .iteam a{
    /* text-decoration: none; */
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-size: 17px;
}
.footer_bottom .logo img{
    margin-right: 10px;
}
.footer_bottom .top_icon{
    text-align: right;
    /* margin-top: 50%; */
}
.footer_bottom .top_icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #626262;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.footer_bottom .top_icon p{
    color: #fff;

}
/* ---- footer section css start ---- */
nav{
    background-color: #333333;
}
nav .iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
nav .iteam .personvern a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
nav .iteam  .logo img{
    margin-right: 20px;
}
nav .iteam .laget a{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}
nav .iteam .top_icon{
    text-align: center;
    color: #ffffff;
}
nav .iteam .top_icon a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5C5C5C;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}
/* ---- navbar css end ---- */