*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
 /* Bellfort Press font family */
 @font-face {
    font-family: 'Bellfort Press';
    src: url('path/to/BellfortPress-Regular.woff2') format('woff2'),
         url('path/to/BellfortPress-Regular.woff') format('woff');
 }
 /* Blacksword font family */
 @font-face {
    font-family: 'Blacksword';
    src: url('path/to/Blacksword-Regular.woff2') format('woff2'), 
         url('path/to/Blacksword-Regular.woff') format('woff'); 
 }
.container{
    max-width: 1368px;
    padding: 0px 50px;
    margin: 0 auto;
    height: 100%;
}
/* ---- header css satrt ----- */
header{
    background-color: #87565B;
    margin: 0 auto;
    padding: 0;
}
header .header_content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px;
}
header .header_content img{
    text-align: start;
}
header .header_content .menu{
    text-align: center;
}
header .header_content ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}
header .header_content ul li:last-child{
    margin-right: 0px;
}
header .header_content a{
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
header .header_content .icon{
    text-align: right;
}
header .header_content .icon i{
    color: #fff;
}
header .header_content .icon .fa-user{
    padding: 5px;
}
header .header_content .icon input {
    width: 75px;
    padding: 5px 0px 5px 30px;
    background-color:  #AB898D;
    border: none;
}
 header .header_content .icon{
    position: relative;
}
header .header_content .search {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 12px;
}
header .header_content .icon input::placeholder{
    color: #ffffff;
}
header .header_content .icon input:focus{
    outline: none;
}
/* ---- header css end ----- */
/* Banner CSS  satrt*/

.banner_section{
    background-image: url(../images/banner.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.banner_section .conetnt{
    height: 100%;
    width: 100%;
    position: relative;
}
.banner_section .conetnt .text{
    position: absolute;
    top: 40%;
    display: inline-block;
}
.banner_section .conetnt .meadia_icon{
    position: absolute;
    right: 10px;
    top: 70%;
    display: inline-block;

}
.banner_section .conetnt .meadia_icon{
    display: flex;
    justify-content: space-between;
}
.banner_section .conetnt .meadia_icon img{
    margin-right: 10px;
}
.banner_section .conetnt .meadia_icon a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}
.banner_section .conetnt h3{
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 600;
    font-size: 56px;
    padding: 20px 0;
    color: #fff;
}
.banner_section .conetnt button{
    padding: 10px 20px;
    background-color: #87565b; 
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 800;
    font-size: 18px;
    border-radius: 3px;
    transition: .4s;
}
.banner_section .conetnt button:hover{
    background-color: #653439;
}
/* ---- Banner CSS  end ----- */
/* ---- prodcut Section CSS  Start ----- */
.prodcut_section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.prodcut_section .product_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prodcut_section .product_title h3{
    color: #87565B;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 600;
}
.prodcut_section .product_title a{
    text-decoration: none;
    color: #333333;
    font-size: 17px;
    font-family: 'DIN', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid #87565B;
}
.prodcut_section .product_iteam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;

}
.prodcut_section .product_iteam .iteam {
    padding: 15px 25px 10px 25px;
    background-color: #F8F5EF;
    position: relative;
}
.prodcut_section .product_iteam .iteam .discount {
    position: absolute;
    right: 5px;
    top: 1%;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #87565b;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 800;
}
.prodcut_section .product_iteam .iteam img{
    width: 100%;
}
.prodcut_section .product_iteam .iteam_desc a {
    text-decoration: none;
    color: #333333;
    padding: 5px 0px;
    font-family: 'DIN', sans-serif;
    font-weight: 800;
    font-size: 23px;
    /* margin-left: 5px; */
}
.prodcut_section .product_iteam .iteam_desc p{
    padding: 5px 0px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333333;
}
.prodcut_section .product_iteam .iteam_desc span{
    padding: 5px 0px;
    font-family: 'DIN', sans-serif;
    font-weight: 800;
    font-size: 17px;
    color: #87565B;

}
.prodcut_section .product_iteam .iteam_desc del{
  padding-left: 10px;
  color: #707070;

}
/* ---- prodcut Section CSS  end ----- */
/* ---- reasons Section CSS  Start ----- */
.reasons_section{
    margin: 70px 0px;
    background-color: #F8F5EF;
    padding: 90px 0px;
}
.reasons_section .reasons_totle{
    text-align: center;
}
.reasons_section .reasons_totle p{
    font-size: 24px;
    font-family: 'Blacksword', sans-serif;
    font-weight: 400;
    color: #333333;
}
.reasons_section .reasons_totle h3 {
    padding: 10px 310px;
    font-size: 40px;
    color: #87565B;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 600;
}
.reasons_section .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    align-items: center;
    text-align: center;
}
.reasons_section .content .iteam {
    padding: 10px 60px;
}
.reasons_section .content .iteam i{
   height: 60px;
   width: 60px;
   font-size: 35px;
   line-height: 60px;
   border-radius: 50%;
   background-color: #87565B;
   color: #FFF;
}
.reasons_section .content .iteam h3{
    font-size: 23px;
    color: #333333;
    padding: 20px 0px;
    font-family: 'DIN', sans-serif;
    font-weight: 600;
}
.reasons_section .content .iteam p{
  font-size: 17px;
  color: #333333;
  font-family: 'DIN', sans-serif;
  font-weight: 400;
}
/* ---- reasons Section CSS  end ----- */
/* ---- bønder Section CSS  Start ----- */
.bønder_section{
    margin: 70px 0;
}
.bønder_section .farmer{
    display: flex;
    gap: 40px;
}
.bønder_section .farmer .desc {
    padding-top: 10px;
    width: 415px;
}
.bønder_section .farmer .desc span{
    font-size: 24px;
    color: #333333;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 400;
}
.bønder_section .farmer .desc h3{
    font-size: 40px;
    color: #87565B;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 15px;
}
.bønder_section .farmer .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
}
.bønder_section .farmer .desc a{
    text-decoration: none;
    color: #333333;
    font-size: 17px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #87565B;
}
.bønder_section .Kristoffer .farmer{
    position: relative;
    top: 50px;
}
.bønder_section .Kristoffer{
    position: relative;
}
.bønder_section .article{
    display: flex;
    gap: 40px;
    align-items: end;
}
.bønder_section .article .desc span{
    font-size: 24px;
    color: #333333;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 400;
}
.bønder_section .article .desc {
    padding-left: 340px; 
    text-align: end;
}
.bønder_section .article .desc h3{
    font-size: 40px;
    color: #87565B;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 15px;
}
.bønder_section .article .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
}
.bønder_section .article .desc a{
    text-decoration: none;
    color: #333333;
    font-size: 17px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #87565B;
}
/* ---- bønder Section CSS  End ----- */
/* ---- food_blog_section css start ---- */
.food_blog_section {
    margin: 150px 0px;
    background-color: #F5F1EB;
    padding: 50px 0px;
}
.food_blog_section .food_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
}
.food_blog_section .food_title h3{
    font-size: 40px;
    color: #87565B;
    font-family: 'Bellfort Press', sans-serif;
    font-weight: 400;
}
.food_blog_section .food_title a{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
    padding: 5px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    border-bottom: 2px solid #87565B;
   
}
.food_blog_section .food_iteam{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.food_blog_section .food_iteam .iteam img{
    width: 100%;
    display: block;
}
.food_blog_section .food_iteam .iteam .desc{
    position: relative;

}
.food_blog_section .food_iteam .iteam .desc .text {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(5%, -30%);
    color: #fff;
}
.food_blog_section .food_iteam .iteam .desc .text a{
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'DIN', sans-serif;
    font-weight: 600;
}
.food_blog_section .food_iteam .iteam .desc .text p {
    padding-top: 15px;
}
/* ---- food_blog_section css end ---- */
/* ---- footer section css start ---- */
footer{
    background-image: url(../images/Group\ 2520.jpg);
    object-fit: cover;
 }
 footer .content{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
 }
 footer .content .location{
    color: #fff;
 }
 footer .content .location h3{
    font-size: 23px;
    font-family: 'DIN', sans-serif;
    font-weight: 600;
 }
 footer .content .location a{
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    font-size: 17px;
 }
 footer .content .location2{
    text-align: end;
 }
 footer .content .location2 a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
 }
 footer .logo_icon{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
 }
 footer .logo_icon i{
    font-size: 40px;
    color: #fff;
    margin-right: 20px;
 }
 footer .logo_icon .logo{
    display: flex;
    gap: 7px;
 }
 footer .logo .right_image img{
    width: 80%;
 }
/* ---- footer section css start ---- */
/* ---- navbar css start ---- */
nav{
    background-color: #333333;
}
nav .iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
nav .iteam .personvern a{
    display: block;
    /* text-decoration: none; */
    color: #ffffff;
    font-size: 17px;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
}
nav .iteam  .logo img{
    margin-right: 20px;
}
nav .iteam .laget a{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    font-family: 'DIN', sans-serif;
    font-weight: 400;
}
nav .iteam .top_icon{
    text-align: center;
    color: #ffffff;
}
nav .iteam .top_icon a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5C5C5C;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}
/* ---- navbar css end ---- */








/* responsive start  */
@media only screen and (max-width: 1320px) {
    .reasons_section .content .iteam {
        padding: 10px 50px;
    }
    .bønder_section .article .desc {
        padding-left: 327px;
    }
}
@media only screen and (max-width: 1298px) {
    .bønder_section .article .desc {
        padding-left: 305px;
    }
}
@media only screen and (max-width: 1275px) {
    .bønder_section .article .desc {
        padding-left: 282px;
    }
}

@media only screen and (max-width: 1260px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 284px;
    }
    .reasons_section .content .iteam {
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 1253px) {
    .bønder_section .article .desc {
        padding-left: 260px;
    }
}
@media only screen and (max-width: 1230px) {
    .bønder_section .article .desc {
        padding-left: 237px;
    }
}
@media only screen and (max-width: 1208px) {
    .bønder_section .article .desc {
        padding-left: 215px;
    }
}
@media only screen and (max-width: 1200px){
    .reasons_section .reasons_totle h3 {
        padding: 10px 254px;
    }
}
@media only screen and (max-width: 1140px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 224px;
    }
    .reasons_section .content .iteam {
        padding: 10px 12px;
    }
    .food_blog_section .food_iteam {
        column-gap: 40px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1080px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 193px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1032px){
    .reasons_section .content .iteam {
        padding: 10px 0px;
    }
    .reasons_section .reasons_totle h3 {
        padding: 10px 162px;
    }
}
@media only screen and (max-width: 1024px){
    .prodcut_section .product_iteam .iteam_desc a {
        font-size: 20px;
    }
    .prodcut_section .product_iteam .iteam .discount {
        font-size: 16px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
    }
    .prodcut_section .product_iteam {
        column-gap: 25px;
    }
    .prodcut_section .product_iteam .iteam_desc p {
        font-size: 17px;
    }
    .prodcut_section .product_iteam .iteam_desc span {
        font-size: 15px;
    }
    .food_blog_section .food_iteam {
        column-gap: 30px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        font-size: 20px;
    }
}
@media only screen and (max-width: 989px) {
    .prodcut_section .product_iteam {
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    .prodcut_section .product_title a {
        display: none;
    }
    .reasons_section .content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .reasons_section .content .iteam h3 {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    
    .reasons_section .reasons_totle h3 {
        padding-bottom: 15px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        font-size: 19px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        padding: 8px;
    }
}
@media only screen and (max-width: 955px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 131px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        font-size: 18px;
    }
    .food_blog_section .food_iteam .iteam .desc .text a {
        padding: 7px;
    }
}
@media only screen and (max-width: 899px) {
    .food_blog_section .food_iteam {
        display: block;
    }
    .food_blog_section .food_iteam .iteam{
        margin-bottom: 40px;
    }
    .food_blog_section .food_title a{
        display: none;
    }
    .food_blog_section {
        padding: 30px 0px;
    }
}
@media only screen and (max-width: 894px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 100px;
    }
}
@media only screen and (max-width: 840px){
    .reasons_section .reasons_totle h3 {
        padding: 10px 100px;
    }
}
@media only screen and (max-width: 768px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 38px;
    }
    footer .content{
        display: block;
    }
    footer .content .location2 {
        text-align: start;
        padding-top: 50px;
    }
    footer .logo_icon{
        display: block;    }
    footer .logo_icon .logo {
        padding: 50px 0px;
    }
    footer .logo_icon {
        padding-top: 40px;
    }
    nav .iteam{
        display: block;
    }
    nav .iteam  .logo img {
        padding: 20px 0px;
    }
    nav .iteam .top_icon{
        text-align: end;
    }
}
@media only screen and (max-width: 708px) {
    .reasons_section .reasons_totle h3 {
        padding: 10px 0px;
    }
}
@media only screen and (max-width: 552px) {
    .reasons_section .reasons_totle h3{
        font-size: 35px;
    }
}
@media only screen and (max-width: 520px) {
    .food_blog_section .food_title h3 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 495px) {
    .reasons_section .reasons_totle p {
        font-size: 20px;
    }
    .reasons_section .reasons_totle h3 {
        font-size: 27px;
    }
    .reasons_section .content .iteam p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 459px) {
    .reasons_section .reasons_totle h3 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 425px){
    .prodcut_section .product_iteam {
        gap: 20px;
    }
    .prodcut_section .product_iteam .iteam_desc a {
        font-weight: 600;
    }
    .prodcut_section .product_iteam .iteam_desc span {
        font-weight: 600;
    }
    .container{
        padding: 0px 40px;
    }
    .prodcut_section .product_title h3 {
        font-size: 35px;
    }
    .food_blog_section .food_title h3 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px) {
    .food_blog_section .food_title h3 {
        font-size: 23px;
    }
}
@media only screen and (max-width: 320px){
    .prodcut_section .product_iteam .iteam {
        padding: 10px 10px 5px 10px;
    }
    .prodcut_section .product_title h3 {
        font-size: 26px;
    }
    .prodcut_section .product_iteam .iteam .discount {
        font-size: 14px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
    }
    .prodcut_section .product_title h3 {
        padding-bottom: 10px;
    }
    .food_blog_section .food_title h3 {
        font-size: 20px;
    }
}
/* responsive end  */








