*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
.container{
    max-width: 1368px;
    padding: 0px 50px;
    margin: 0 auto;
    height: 100%;
}
/* ---- header css satrt ----- */
header{
    background-color: #87565B;
    margin: 0 auto;
    padding: 0;
}
header .header_content {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px;
}
header .header_content img{
    text-align: start;
}
header .header_content .menu{
    text-align: center;
}
header .header_content ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}
header .header_content ul li:last-child{
    margin-right: 0px;
}
header .header_content a{
    text-decoration: none;
    color: #fff;
}
header .header_content .icon{
    text-align: right;
}
header .header_content .icon i{
    color: #fff;
}
header .header_content .icon .fa-user{
    padding: 5px;
}
header .header_content .icon input {
    width: 75px;
    padding: 5px 0px 5px 30px;
    background-color:  #AB898D;
    border: none;
}
/* header .header_content .icon input{
    background-color:  #AB898D;
 } */
 header .header_content .icon{
    position: relative;
}
header .header_content .search {
    position: absolute;
    top: 7px;
    left: 5px;
    font-size: 12px;
}
header .header_content .icon input::placeholder{
    color: #ffffff;
}
header .header_content .icon input:focus{
    outline: none;
}
/* ---- header css end ----- */
/* Banner CSS  satrt*/

.banner_section{
    background-image: url(../images/banner.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.banner_section .conetnt{
    height: 100%;
    width: 100%;
    position: relative;
}
.banner_section .conetnt .text{
    position: absolute;
    top: 40%;
    display: inline-block;
}
.banner_section .conetnt .meadia_icon{
    position: absolute;
    right: 10px;
    top: 70%;
    display: inline-block;

}
.banner_section .conetnt .meadia_icon{
    display: flex;
    justify-content: space-between;
}
.banner_section .conetnt .meadia_icon img{
    margin-right: 10px;
}
.banner_section .conetnt .meadia_icon span{
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}
.banner_section .conetnt h3{
    font-size: 56px;
    color: #fff;
    padding: 20px 0;
}
.banner_section .conetnt button{
        padding: 10px 20px;
        background-color: #87565b;
        color: #fff;
        border: 1px solid #87565b;
}
/* ---- Banner CSS  end ----- */
/* ---- prodcut Section CSS  Start ----- */
.prodcut_section {
    margin-top: 50px;
    margin-bottom: 150px;
}
.prodcut_section .product_title h3{
    color: #87565B;
    font-size: 40px;
    padding-bottom: 20px;
}
.prodcut_section .product_iteam {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;

}
.prodcut_section .product_iteam .iteam {
    padding: 15px 20px 10px 20px;
    background-color: #F8F5EF;
    position: relative;
}
.prodcut_section .product_iteam .iteam .discount {
    position: absolute;
    right: 5px;
    top: 1%;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #87565b;
    text-align: center;
    color: #FFFFFF;
}
.prodcut_section .product_iteam .iteam img{
    width: 100%;
}
.prodcut_section .product_iteam .iteam_desc a{
    text-decoration: none;
    color: #333333;
    padding: 5px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 23px;

}
.prodcut_section .product_iteam .iteam_desc p{
    padding: 5px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #333333;
}
.prodcut_section .product_iteam .iteam_desc span{
    padding: 5px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #87565B;

}
.prodcut_section .product_iteam .iteam_desc del{
  padding-left: 10px;
  color: #707070;

}
/* ---- prodcut Section CSS  end ----- */
/* ---- reasons Section CSS  Start ----- */
.reasons_section{
    margin: 200px 0px;
    background-color: #F8F5EF;
    padding: 150px 0px;
}
.reasons_section .reasons_totle{
    text-align: center;
}
.reasons_section .reasons_totle p{
    font-size: 24px;
    color: #333333;
}
.reasons_section .reasons_totle h3 {
    padding: 10px 310px;
    font-size: 40px;
    color: #87565B;
}
.reasons_section .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    align-items: center;
    text-align: center;
}
.reasons_section .content .iteam {
    padding: 10px 75px;
}
.reasons_section .content .iteam i{
   height: 60px;
   width: 60px;
   font-size: 35px;
   line-height: 60px;
   border-radius: 50%;
   background-color: #87565B;
   color: #FFF;
}
.reasons_section .content .iteam h3{
  font-size: 23px;
  color: #333333;
  padding: 20px 0px;
}
.reasons_section .content .iteam p{
  font-size: 17px;
  color: #333333;
}
/* ---- reasons Section CSS  end ----- */
/* ---- bønder Section CSS  Start ----- */
.bønder_section{
    margin: 150px 0;
}
.bønder_section .farmer{
    display: flex;
    gap: 40px;
}

.bønder_section .farmer .desc {
    padding-top: 100px;
    padding-right: 340px;
}
.bønder_section .farmer .desc h3{
    font-size: 40px;
    color: #87565B;
}
.bønder_section .farmer .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
}
.bønder_section .farmer .desc button{
    font-size: 17px;
    border: 1px solid;
}
.bønder_section .Kristoffer .farmer{
    position: relative;
    top: 50px;
}
.bønder_section .Kristoffer{
    position: relative;
}
.bønder_section .article{
    display: flex;
    gap: 40px;
    align-items: end;
}
.bønder_section .article .desc {
    padding-bottom: 100px;
    padding-left: 340px; 
    text-align: end;
}
.bønder_section .article .desc h3{
    font-size: 40px;
    color: #87565B;
}
.bønder_section .article .desc p{
    padding: 10px 0px;
    font-size: 17px;
    color: #333333;
}
.bønder_section .article .desc button{
    font-size: 17px;
    border: 1px solid;
}
/* ---- bønder Section CSS  End ----- */
/* ---- food_blog_section css start ---- */
.food_blog_section{
    margin: 150px 0px;
    background-color: #F5F1EB;
    padding: 100px 0px;
}
.food_blog_section .food_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}
.food_blog_section .food_title h3{
    font-size: 40px;
    color: #87565B;
}
/* .food_blog_section .food_title button{
    border: none;
} */
.food_blog_section .food_title a{
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #333333;
    padding: 5px;
    border-bottom: 3px solid #87565B;
   
}
.food_blog_section .food_title a::before{
    content: '';
    
}
.food_blog_section .food_iteam{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.food_blog_section .food_iteam .iteam img{
    width: 100%;
    display: block;
}
.food_blog_section .food_iteam .iteam .desc{
    position: relative;

}
.food_blog_section .food_iteam .iteam .desc .text {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(20%, -50%);
    color: #fff;
}
.food_blog_section .food_iteam .iteam .desc .text h3{
    padding-bottom: 8px;
}
/* ---- food_blog_section css end ---- */
/* ---- footer section css start ---- */
footer{
    background-image: url(../images/Group\ 2520.jpg);
    object-fit: cover;
 }
 footer .content{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
 }
 footer .content .location{
    color: #fff;
 }
 footer .content .location a{
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 30px;
 }
 footer .content .location2 a{
    text-decoration: none;
    color: #fff;
    display: block;
 }
 footer .logo_icon{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
 }
 footer .logo_icon i{
    font-size: 40px;
    color: #fff;
    margin-right: 20px;
 }
 footer .logo_icon img{
    /* width: 40%; */
 }
 footer .logo_icon .logo{
    display: flex;
    gap: 7px;
 }
 footer .logo .right_image img{
    width: 80%;
 }

.footer_bottom{
    background-color: #333333;
}
.footer_bottom .iteam{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
}
.footer_bottom .iteam a{
    /* text-decoration: none; */
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-size: 17px;
}
.footer_bottom .logo img{
    margin-right: 10px;
}
.footer_bottom .top_icon{
    text-align: right;
    /* margin-top: 50%; */
}
.footer_bottom .top_icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #626262;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.footer_bottom .top_icon p{
    color: #fff;

}
/* ---- footer section css start ---- */
/* ---- navbar css start ---- */
nav{
    background-color: #333333;
}
nav .iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
nav .iteam .personvern a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
nav .iteam  .logo img{
    margin-right: 20px;
}
nav .iteam .laget a{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}
nav .iteam .top_icon{
    text-align: center;
    color: #ffffff;
}
nav .iteam .top_icon a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5C5C5C;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}
/* ---- navbar css end ---- */